@model SSSAssessment.Models.ListPagination<SSSAssessment.Models.Client>

@{
    ViewData["Title"] = "Client List";
}

<h2>Client List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Details Button </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td><img src="@client.Avatar" alt="Avatar clients" width="50" height="50" /></td>
                <td>@client.FirstName @client.LastName</td>
                <td>@client.DateOfBirth.ToShortDateString()</td>
                <td>@client.Email</td>
                <td>@client.PhoneNumber</td>
                <td><a class="btn buttonSSS" asp-controller="Clients" asp-action="Details" asp-route-id="@client.Id">View Details</a></td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Clients" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" asp-action="Clients" asp-route-page="@i">@i</a>
            </li>
        }
        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Clients" asp-route-page="@(Model.PageIndex + 1)">Next</a>
            </li>
        }
    </ul>
</nav>

