@model SSSAssessment.Models.Client

@{
    ViewData["Title"] = "Client Details";
}

<h2>Client Details</h2>
<div>
    <img src="@Model.Avatar" alt="Avatar" width="100" height="100" />
    <h3>@Model.FirstName @Model.LastName</h3>
    <p><strong>Date of Birth:</strong> @Model.DateOfBirth.ToShortDateString()</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Phone:</strong> @Model.PhoneNumber</p>
    <p>
        <strong>National Insurance Number:</strong>
        @Html.Raw(Model.Nino.Replace(Model.Nino.Substring(1, Model.Nino.Length - 2), new string('*', Model.Nino.Length - 2)))
    </p>

    <h4>Address</h4>
    <p>
        @Model.Address.AddressLine1<br />
        @Model.Address.AddressLine2<br />
        @Model.Address.AddressLine3<br />
        @Model.Address.City, @Model.Address.PostCode<br />
        @Model.Address.Country
    </p>
    <h4>Payment Details</h4>

    <p>
        <strong>Account Type:</strong>
        @Html.Raw(Model.PaymentDetails.AccountType.Replace(Model.PaymentDetails.AccountType.Substring(1, Model.PaymentDetails.AccountType.Length - 2), new string('*', Model.PaymentDetails.AccountType.Length - 2)))
    </p>

    <p>
        <strong>Account Name:</strong>
        @Html.Raw(Model.PaymentDetails.AccountName.Replace(Model.PaymentDetails.AccountName.Substring(1, Model.PaymentDetails.AccountName.Length - 2), new string('*', Model.PaymentDetails.AccountName.Length - 2)))
    </p>

    <p>
        <strong>Sort Code:</strong>
        @Html.Raw(Model.PaymentDetails.SortCode.Replace(Model.PaymentDetails.SortCode.Substring(1, Model.PaymentDetails.SortCode.Length - 2), new string('*', Model.PaymentDetails.SortCode.Length - 2)))
    </p>

    <p>
        <strong>Account Number:</strong>
        @Html.Raw(Model.PaymentDetails.AccountNumber.Replace(Model.PaymentDetails.AccountNumber.Substring(1, Model.PaymentDetails.AccountNumber.Length - 2), new string('*', Model.PaymentDetails.AccountNumber.Length - 2)))
    </p>


</div>


